dist: xenial
group: travis_latest

branches:
  only:
  - master

language: python

matrix:
  include:
  - python: "3.7"
    env: TOXENV=py37
  - python: "3.6"
    env: TOXENV=py36

install:
  - pip install -r requirements-test.txt
  - pip install -e .

script:
  - pytest
